* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #f2eded;
    min-height: 100vh;
}

.icon {
    border-radius: 50%;
    background: linear-gradient(145deg, #dad5d5, #fffefe);
    box-shadow: 8px 8px 16px #6d6b6b, -8px -8px 16px #ffffff;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.line {
    height: 6px;
    width: 100px;
    border-radius: 5px;
    background: #1b1818;
    transition: all 0.5s ease-in-out;
}

.line::before,
.line::after {
    content: '';
    height: 6px;
    width: 100px;
    border-radius: 5px;
    background: #1b1818;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.line::before {
    transform: translateY(-16px);
}

.line::after {
    transform: translateY(16px);
}

.icon.open .line {
    width: 70px;
}

.icon.open .line::before {
    transform: rotate(-40deg) translate(4px, -10px);
    width: 35px;
}

.icon.open .line::after {
    transform: rotate(40deg) translate(4px, 10px);
    width: 35px;
}